/* CSS Basic Document */
body
{
margin:0px auto;
padding:0px;
background-color:#FFFFFF;
}
.menu_table td
{
border-bottom:1px solid #8B0000;
height:27.5px;
padding-left:12px;
}
.offer_box
{
margin:51px 0px 0px 21px;
}

.border_bottom
{
border-bottom:1px dotted #333333;
}



/* CSS Background image Document */
.header_image
{
background:url(../images/header_bg.jpg) left top no-repeat;
height:175px;
}







/* CSS Background image Document */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 15px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #333333;
	text-decoration: none;
}
.left_link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 27.5px;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #8B0000;
	background-color:inherit;
	text-decoration: none;
	}
.left_link:hover
{
color:#000000;
text-decoration:none;
background-color:inherit;
}

.left_link_linespace
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 15px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #8B0000;
	background-color:inherit;
	text-decoration: none;
	}
.left_link_linespace:hover
{
color:#000000;
text-decoration:none;
background-color:inherit;
}