<!DOCTYPE html>
<html lang="en-us">
  <head>
  	<script>
  	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  	  ga('create', 'UA-104790563-1', 'auto');
  	  ga('send', 'pageview');

  	</script>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  	<link rel="shortcut icon" href="https://robinagandhi.github.io/img/favicon.ico">
  	<link rel="stylesheet" href="https://robinagandhi.github.io/css/vendor/fluidbox.min.css">
  	<link rel="stylesheet" href="https://robinagandhi.github.io/css/main.css">

  	<title>{{ page.title }}</title>

  </head>
  <style>
  #rcorners1 {
      border-radius: 40px;
      padding: 20px;
  }
  </style>


  <body>

    <header>

      <div id="logo-container">
        <div id="logo"><a href="/">{{ page.title }}</div>
        <div id="subtitle">{{ page.subtitle }}</div>
      </div>

      <nav>
        <ul>
          <li><a href="index.html" class="bordered">Home</a></li>
          <li><a href="publications.html" class="bordered">Publications</a></li>
          <li><a href="research.html" class="bordered">Research</a></li>
          <li><a href="teaching.html" class="bordered">Teaching</a></li>
          <!--<li><a href="mailto:your@address.com" class="bordered">Contact</a></li> -->
        </ul>
      </nav>

    </header>


    <section class="main-content">

      <div class="container">

  	{{ content }}

      </div><!-- /.container -->
      <footer class="site-footer">


      </footer>

    </section>
    <script src="js/vendor/jquery.fluidbox.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>






</body>
</html>
